#AvatarWaleedFace {
    width: 240px;
    height: 230px;


    background-color: lightgoldenrodyellow;
    border-radius: 40%;
    border-top: 50px solid grey;
    border-bottom: 20px solid black;
    position: relative;

    @media screen and (max-width: 650px) {
        width: 140px;
        height: 130px;
        border-top: 25px solid grey;
        border-bottom: 15px solid black;
    }

    .avatar--glasses {
        display: flex;
        position: absolute;
        top: 30%;
        width: 100%;
        height: 6rem;
        --glasses-temple-skew-angle: 22deg;

        @media screen and (max-width: 650px) {
            top: 20%;
        }

        .temple {
            width: 4rem;
            height: 0.6rem;
            box-sizing: border-box;
            margin-top: 2rem;
            background-color: black;

            @media screen and (max-width: 650px) {
                height: 0.4rem;
            }
        }

        .left-temple {
            transform: skewY(var(--glasses-temple-skew-angle));
        }

        .frame {
            width: 6rem;
            height: 5rem;
            border-radius: 50%;
            border: 5px solid black;
            background-color: white;
            margin-top: 0;
            animation: eye-blink 4s linear infinite;

            @keyframes eye-blink {
                20% {
                    height: 5rem;
                    margin-top: 0;
                }

                25% {
                    height: 0;
                    margin-top: 2.5rem;
                }

                30% {
                    height: 5rem;
                    margin-top: 0;
                }
            }

            @media screen and (max-width: 650px) {
                width: 5rem;
                height: 3rem;
                border-width: 3px;
                margin-top: 15px;

                @keyframes eye-blink {
                    20% {
                        height: 3rem;
                        margin-top: 15px;
                    }

                    25% {
                        height: 0;
                        margin-top: 37px;
                    }

                    30% {
                        height: 3rem;
                        margin-top: 15px;
                    }
                }
            }
        }

        .glasses-bridge {
            width: 3rem;
            height: 0.1rem;
            position: relative;
            top: 40%;
            background-color: gray;
            border-radius: 50% 50% 0 0;
            border-style: solid;
            border-color: grey;
            border-width: 5px 0 0 0;

            @media screen and (max-width: 650px) {
                width: 2.5rem;
                border-width: 3px 0 0 0;
            }

        }

        .right-temple {
            transform: skewY(calc(var(--glasses-temple-skew-angle) * -1)); // making angle negative 
        }
    }
}

