.body {
  background-color: #ccc;
}

.game {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.game-row {
  margin: inherit;
  margin-top: -4px;
  width: 125px;
}

.game-square {
  margin: 0;
  float: left;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  margin-top: -4px;
  margin-left: -4px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
}

.game-square:focus {
  outline: none;
}

.game-info {
  margin-left: 40px;
}

.game-status {
  font-weight: bold;
}

.game-history {
  padding-left: 0;
  list-style: none;
}
