$mobile-breakpoint: 576px;
$desktop-breakpoint: 992px;


$theme-colors: (
    primary: (
        light: #EBA1FF,
        dark: #7B3FCC,
  ),
  text: (
      light: #eeeeee,
      dark: #aaaaaa
  ),
  foreground: (
   light: #D1BA84,
   dark: #B36B0B,
  ),
  backgroundColor: (
      light: #94FFD7,
      dark: #70FF95
  ) 
);

$avatar-colors: (
    face: #fafad2,
    hair: #aaa,
    beard: #222,
    glasses: #222,
    glassesBridge: #eee,
    eyes: #fff
);

@function theme-color($key: 'primary', $variant: 'light') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

@function avatar-color($key) {
    @return map-get($avatar-colors, $key);
}

body {
    margin: 0;
    font-size: 16px;
}

ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

.div--bottom__center {
    left: 50%;
    bottom: 0;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
}

.div--middle__center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}