body {
    margin: 0;
    font-size: 16px;
}

.div--bottom__center {
    left: 50%;
    bottom: 0;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
}

.div--middle__center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}