@import "./responsive-breakpoints.scss";
@import "./theme-colors.scss";

@media screen and (min-width: $mobile-breakpoint) {

  .home-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100%;
    grid-template-columns: 160px auto;
    grid-template-areas: "main-left-nav main-section"
  }


  .main-section {
    grid-area: main-section;
    background-color: theme-color(primary, dark);
    // background: url('../images/icons/icon-fiverr.svg') no-repeat;
  }
}