@import "./responsive-breakpoints.scss";
@import "./theme-colors.scss";

@media screen and (min-width: $mobile-breakpoint) {

  .app-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100%;
    grid-template-columns: 160px auto;
    grid-template-areas: "main-left-nav main-section"
  }

  .main-section {
    grid-area: main-section;
    // background-color: theme-color(primary, dark);
    // background: url('../images/icons/icon-resume.svg') no-repeat;

  }

  .home-container {

  }

  .profile-picture-slider {
    position: relative;
    margin: 0 auto;
    width: 180px;
    height: 230px;
    overflow: hidden;
    border: 2px solid black;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .profile-picture {
    width: 100%;
    height: 100%;
  }

  .profile-picture-avatar {
    // padding-left: 20px;
    // width: 140px;
    // height: 170px;
    background-color: white;
  }
}