@import "./globals.scss";

@media screen and (min-width: $mobile-breakpoint) {

  .home-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% auto;
    grid-template-rows: 100%;
    grid-template-areas: "main-left-nav main-section"
  }
  

  .main-section {
    grid-area: main-section;
    background-color: lightcoral;
    background: url('../images/icons/icon-home.svg') no-repeat;
  }
}