@import "./responsive-breakpoints.scss";
@import "./theme-colors.scss";

@mixin navigation-icon-text($pl, $icon-url, $icon-size: 1em) {
  @media (max-width: $medium) {
    p::before {
      left: 0;
      content: "";
      width: $icon-size;
      height: $icon-size;
      position: absolute;
      background: url($icon-url) no-repeat;
    }
  }
}

.header {
  position: relative;

  li {
    list-style: none;
    position: relative;

    p {
      display: inline;
    }
  }
}

.hamburger {
  top: 10px;
  left: 30px;
  width: 50px;
  padding: 5px;
  height: 50px;
  display: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);

  &::before {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
    content: "";
    position: absolute;
    border-radius: 50%;
    border-top-left-radius: 0;
    background-color: $primary;
    transition: width 0.15s ease-in, height 0.15s ease-in;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
  }

  .line {
    z-index: 2;
    width: 2px;
    height: 30px;
    margin: 0 5px 0;
    border-radius: 30px;
    background-color: black;
    transition: transform 0.2s;
  }

  &:active {
    --rotate-3: 40deg;
    --rotate-4: calc(-1 * var(--rotate-3));

    .line-1 {
      transform: rotateZ(0deg);
    }

    .line-2 {
      transform: translate(-3px, 3px) rotateZ(var(--rotate-3));
      border-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .line-3 {
      transform: translate(3px, 3px) rotateZ(var(--rotate-4));
    }

    .line-4 {
      transform: rotateZ(0deg);
    }
  }
}

.nav-tabs {
  height: 100%;
  display: flex;
  justify-content: flex-end;

  li {
    cursor: pointer;
    overflow: hidden;
    padding: 20px 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    p {
      position: relative;

      &::after {
        content: "";
        top: 25px;
        right: -15%;
        width: 130%;
        height: 2px;
        position: absolute;
        background-color: $text;
        transform: rotateY(90deg);
        transition: transform 0.3s linear;
      }
    }

    &::before {
      content: "";
      top: -25%;
      left: -25%;
      width: 150%;
      height: 150%;
      border-radius: 50%;
      position: absolute;
      transform: scale(0);
      background-color: $primary;
      transition: transform 0.2s ease-in;
    }

    &:hover {
      &::before {
        transform: scale(1);
      }

      p {
        color: $text;

        &::after {
          display: block;
          width: 130%;
          transform: rotateY(0deg);
        }
      }
    }
  }
}

.nav-home {
  @include navigation-icon-text(1.2em, "../images/icons/icon-home.svg");
}

.nav-about {
  @include navigation-icon-text(1.2em, "../images/avatar-face.svg");
}

.nav-simplistic-resume {
  @include navigation-icon-text(1.2em, "../images/icons/icon-resume.svg");
}

.nav-contact {
  @include navigation-icon-text(1.2em, "../images/icons/icon-contact.svg");
}

.nav-demos {
  @include navigation-icon-text(1.2em, "../images/icons/icon-demo.svg");
}

.nav-video-player {
  @include navigation-icon-text(1.2em, "../images/icons/icon-video-player.svg");
}

@media screen and (max-width: $large) {
  .nav-tabs {
    li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: $medium) {
  .hamburger {
    display: flex;
  }

  .nav-tabs-container {
    display: none;
    padding-top: 50px;
  }

  .nav-tabs {
    flex-direction: column;

    li {
      padding-left: 20px;
      transition: padding 0.2s ease-in;

      &:hover {
        padding-left: 30px;
        background-color: $foreground;

        p {
          &::after {
            display: none;
          }
        }
      }

      p {
        padding-left: 30px;
      }
    }
  }
}
