@import "./responsive-breakpoints.scss";
@import "./theme-colors.scss";

@mixin navigation-icon-text($pl, $icon-url, $icon-size: 1em) {
  p::before {
    left: 0;
    content: "";
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url($icon-url) no-repeat;
  }
}

.main-left-nav {
  grid-area: main-left-nav;
  background-color: getThemeColor(backgroundColor, light);

  li {
    list-style: none;
    position: relative;

    p {
      display: inline;
    }
  }
}

.nav-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  li {
    margin-left: 1em;
    padding: 0.5em 0 0.5em 1.5em;
  }

  li:first-child {
    padding-top: 2em;
  }
}

.nav-tabs .demos {
  margin: 0.5em 0;
  padding: 1em;
  background-color: beige;
}

.nav-home {
  @include navigation-icon-text(1.2em, "../images/icons/icon-home.svg");
}

.nav-about {
  @include navigation-icon-text(1.2em, "../images/avatar-face.svg");
}

.nav-simplistic-resume {
  @include navigation-icon-text(1.2em, "../images/icons/icon-resume.svg");
}

.nav-contact {
  @include navigation-icon-text(1.2em, "../images/icons/icon-contact.svg");
}

.nav-tabs .demo {
  margin: 0;
  padding: 0.5em 1em;
}
