@import "./globals.scss";


.resume-container {
  background-color: ghostwhite;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "name-designation""somethings-about-me""content";
}


.name-designation {
  grid-area: name-designation;
  height: 6em;
  display: flex;
  font-size: 1.5em;
  position: relative;
  padding-bottom: 1em;
  justify-content: left;
  border-bottom: 2px solid theme-color(primary, dark);
}

#AvatarWaleedFace {
  top: -3em;
  transform: scale(0.5);
}

.name {
  font-size: 3em;
}

.somethings-about-me {
  grid-area: somethings-about-me;
}

.content {
  grid-area: content;
}