@import "./globals.scss";


.resume-container {
  background-color: ghostwhite;
  width: 96vw;
  height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "name-designation""contact-info""skillset";
}


.name-designation {
  grid-area: name-designation;
  height: 6em;
  display: flex;
  font-size: 1.5em;
  position: relative;
  padding-bottom: 1em;
  justify-content: left;
  border-bottom: 2px solid theme-color(primary, dark);
  #AvatarWaleedFace {
    top: -3.4em;
    transform: scale(0.5);
  }
}


.name {
  font-size: 3em;
}

.transform-animation {
  padding: 1em 0 0 6em;
  
  p {
    display: inline;
  }
}

.transform-text {
  display: inline;  
}

.transform-qualities {
  height: 1em;
  width: 3.5em;
  position: relative;
  display: inline-block;
}

.into {
  padding: 0 0.6em;
}

.transform-quality {
  top: 2px;
  position: absolute;
}

.transform-quality:nth-child(n+2) {
  opacity: 0;
}


.transform-quality:nth-child(1) {
  animation: transform-quality-1 12s linear infinite;
}

.transform-quality:nth-child(2) {
  animation: transform-quality-2 12s linear 4s infinite;
}

.transform-quality:nth-child(3) {
  animation: transform-quality-3 12s linear 8s infinite;
}

@keyframes transform-quality-1 {
  0%, 6.66%, 32% {
    opacity: 1;
  }
  
  3.33%, 33.33%, 100% {
    opacity: 0;
  }
}

@keyframes transform-quality-2 {
  33.33%, 39.33%, 65% {
    opacity: 1;
  }
  
  0%, 32%, 36.33%, 66.66%, 100% {
    opacity: 0;
  }
}

@keyframes transform-quality-3 {
  66.66%, 72.66%, 98.66% {
    opacity: 1;
  }
  
  0%, 65%, 69.66%, 99.66% {
    opacity: 0;
  }
}


.content {
  grid-area: content;
}