@import "./globals.scss";


.resume-container {
  background-color: ghostwhite;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "name-designation""contact-info""skillset";
}


.name-designation {
  grid-area: name-designation;
  height: 6em;
  display: flex;
  font-size: 1.5em;
  position: relative;
  padding-bottom: 1em;
  justify-content: left;
  border-bottom: 2px solid theme-color(primary, dark);
  #AvatarWaleedFace {
    top: -3.4em;
    transform: scale(0.5);
  }
}


.name {
  font-size: 3em;
}

.somethings-about-me {
  padding-left: 6em;
}

.transform-animation {
  display: inline;
  
  p {
    display: inline;
  }
  
  p:nth-of-type(n+2) {
    display: none;  
  }
}

.transform-text {
  display: inline;  
}

.transform-quality-1 {
  animation: transform-quality-1 4s linear infinite;
}

@keyframes transform-quality-1 {
  0%, 20%, 100% {
    opacity: 1;
  }
  
  10% {
    opacity: 0;
  }
}

// .transform-quality-2 {
//   animation: transform-quality-2 12s linear 5s infinite;
// }

// @keyframes transform-quality-2 {
//   0%, 33.33%, 100% {
//     opacity: 0;
//   }
//   66.66%, 80%  {
//     opacity: 1;
//   }
// }

// .transform-quality-3 {
//   animation: transform-quality-3 12s linear 10s infinite;
// }

// @keyframes transform-quality-3 {
//   0%, 100% {
//     opacity: 0;
//   }
//   20%, 80%  {
//     opacity: 1;
//   }
// }


.content {
  grid-area: content;
}