$primary: #eba1ff;
$text: #eeeeee;
$foreground: #d1ba84;
$backgroundColor: #94ffd7;
$backgroundColorWithOpacity: #03ffa14f;

body.dark-theme {
  $primary: #7b3fcc;
  $text: #aaaaaa;
  $foreground: #b36b0b;
  $backgroundColor: #70ff95;
}
