$theme-colors: (
    primary: (
        light: #EBA1FF,
        dark: #7B3FCC,
    ),
    text: (
        light: #eeeeee,
        dark: #aaaaaa
    ),
    foreground: (
        light: #D1BA84,
        dark: #B36B0B,
    ),
    backgroundColor: (
        light: #94FFD7,
        dark: #70FF95
    )
);

@function theme-color($key: 'primary', $variant: 'light') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}