$theme-colors: (
  primary: (
    light: #eba1ff,
    dark: #7b3fcc,
  ),
  text: (
    light: #eeeeee,
    dark: #aaaaaa,
  ),
  foreground: (
    light: #d1ba84,
    dark: #b36b0b,
  ),
  backgroundColor: (
    light: #94ffd7,
    dark: #70ff95,
  ),
);

@function getThemeColor($key: "primary", $variant: "light") {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}
