#UnderConstruction {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh 10vh auto;
    grid-template-areas:
        "HomePage"
        "Coming"
        "Soon";
}

#HomePage {
    grid-area: HomePage;
    background-color: bisque;
}

#Coming {
    grid-area: Coming;
}

#HomePage,
#Coming {
    text-align: center;
    position: relative;
    font-size: 3rem;

    @media screen and (max-width: 650px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}


#Soon {
    display: flex;
    grid-area: Soon;
    padding-top: 50px;
    justify-content: center;

    @media screen and (max-width: 650px) {
        padding-top: 10px;
    }

    >div {

        &:first-child,
        &:last-child {
            font-size: 7rem;
            padding: 6rem 10px 0 10px;

            @media screen and (max-width: 650px) {
                font-size: 3rem;
                padding-top: 4rem;
            }
        }
    }
}