
#UnderConstruction {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40vh 10vh 50vh;
    grid-template-areas: "HomePage" "Coming" "Soon";
}

#HomePage {
    grid-area: HomePage;
    background-color: bisque;
    position: relative;
    text-align: center;

     .div--bottom__center {
        font-size: 3em;
     }
}


#Coming {
    grid-area: Coming;
    background-color: azure;
}


#Soon {
    grid-area: Soon;
    display: flex;
    background-color: lightgrey;
    justify-content: center;
}

#AvatarFace {
    width: 40vw;
    height: 30vh;;
    background-color: lightgoldenrodyellow;
    border-radius: 40%;
    border-top: 50px solid grey;
    border-bottom: 20px solid black;
}